body {
    margin: 0;
}

h4 {
    margin-top: 10px;
}

.topnav {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.topnav a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: inline-block;
    text-align: center;
    line-height: 30px; /* Should be the same as .topnav height */
}

#nav-home {
    width: 100px;
    color: #f1f1f1;
}

#nav-save, #nav-saving {
    display: none;
    float: right;
    margin-right: 10px;
}

#nav-save.unsaved-changes {
    display: inline-block;
}

#nav-saving.saving {
    display: inline-block;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: 30px; /* Should be the same as .topnav height */
}

.sidenav a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    text-align: center;
    padding-bottom: 5px
}

.sidenav a:hover, #nav-save:hover {
    color: #f1f1f1;
}

.sidenav a.active {
    color: #f1f1f1;
}

.sidenav a.hide {
    display: none;
}

.sidenav a.subnav {
    background-color: #333;
    display: none;
}

a.subnav.display {
    display: block;
}

.navigation {
    width: fit-content;
}

.navigation > a {
    display: block;
    padding: 5px;
}

.navigation > a:hover {
    background-color: #dff;
}

.main {
    margin-left: 100px; /* Should be the same as .sidenav width */
    margin-top: 30px; /* Should be the same as .topnav height */
    padding: 10px;
}

.page {
    display: none;
}

.page.show {
    display: block;
}

.processing {
    display: none;
    color: orange;
}

.success {
    display: none;
    color: green;
}

.error {
    display: none;
    color: red;
}

.processing.show, .success.show, .error.show {
    display: inline-block;
}

img {
    max-width: 750px;
    max-height: 750px;
}

.preview-list > img, img.skybox-image, .editable-images-list img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-style: double;
}

#page-overview a {
    display: block;
}

.preview-list > a, .assets-list > a, .editable-assets-list > a, .scripts-list > a {
    display: block;
}

.asset-instances-list, .page-assets-asset-versions-list {
    display: none;
    padding-left: 30px;
}

.asset-instances-list.show, .page-assets-asset-versions-list.show {
    display: block;
}

.asset-instances-list > a, .page-assets-asset-versions-list > a {
    display: block;
}

#page-assets > div, #page-play-area > div, #page-skybox > div, #page-scripts > div {
    display: inline-table;
}

#page-assets > #page-assets-select, #page-play-area > #page-play-area-main, , #page-skybox > #page-skybox-main, #page-scripts > #page-scripts-select {
    width: 100%;
}

#page-assets > #page-assets-new, #page-assets > #page-assets-configure, #page-play-area > #page-play-area-images-list, #page-skybox > #page-skybox-skyboxes-list, #page-scripts > #page-scripts-new, #page-scripts > #page-scripts-configure {
    display: none;
}

#page-assets.active-new > #page-assets-select, #page-assets.active-configure > #page-assets-select, #page-play-area.active-image-select > #page-play-area-main, #page-skybox.active-skybox-select > #page-skybox-main, #page-scripts.active-new > #page-scripts-select, #page-scripts.active-configure > #page-scripts-select {
    width: 49%;
}

#page-assets.active-new > #page-assets-new, #page-assets.active-configure > #page-assets-configure, #page-play-area.active-image-select > #page-play-area-images-list, #page-skybox.active-skybox-select > #page-skybox-skyboxes-list, #page-scripts.active-new > #page-scripts-new, #page-scripts.active-configure > #page-scripts-configure {
    display: inline-table;
    border-left-style: solid;
    height: 100%;
    padding-left: 10px;
}

.skybox-image-upload-label {
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 150px;
    contain: content;
    border-style: double;
}

.skybox-image-upload-image {
    display: inline-block;
    color: blue;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.color-preview {
    display: inline-block;
    width: 50px;
    border-style: solid;
    border-width: thin;
}

.colorPicker {
    position: absolute;
}

.model-preview {
    width: 1000px;
    height: 500px;
    background-color: black;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}
