.sidenav {
    height: 100%;
    width: 100px; /* Should be the same as .main margin-left */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    text-align: center;
    padding-bottom: 5px
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a.active {
    color: #f1f1f1;
}

.sidenav a.hide {
    display: none;
}

.sidenav a.subnav {
    background-color: #333;
    display: none;
}

a.subnav.display {
    display: block;
}

.navigation {
    width: fit-content;
}

.navigation a {
    display: block;
    padding: 5px;
}

.navigation a:hover {
    background-color: #dff;
}

.main {
    margin-left: 100px;
}

.page {
    display: none;
}

.page.show {
    display: block;
}

.processing {
    display: none;
}

.processing.show {
    display: block;
    color: green;
}

.error {
    display: none;
    color: red;
}

.error.show {
    display: block;
}

img {
    max-width: 750px;
    max-height: 750px;
}

#library-images-list img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-style: double;
}
